{% extends 'baseAdmin.html.twig' %}

{% block title %}{% trans %} Accueil {% endtrans %}{% endblock %}

{% block body %}
  
    <div class="p-5 text-center">
    <h3> {% trans %}Bienvenue sur l'espace administrateur du site subl'Immo {% endtrans %}</h3>
    <p>{% trans %}pour commmencer , merci de selectionner un lien dans le {% endtrans %} </p>
    </div>

{% endblock %}

