{% extends "baseAdmin.html.twig" %}

{% block title %}
    
{% endblock title %}


{% block body %}
    
<h2 class="pb-5">Formaulaire utilisateur</h2>

{{ form_start(userForm) }}

{{ form_end(userForm) }}

{% endblock body %}


